<%include ../partials/header%>

<div class="jumbotron text-center">
    <h1>Welcome, Dungeon Master</h1>
    <p class="lead">What would you like to do?</p>
</div>

<div class="container choice-tiles">
    <div class="row text-center">
            <div class="col-4 choice-tile">
                <a href='/dm/log'>DM Log</a>
            </div>
            <div class="col-4 choice-tile">
                <a href='/dm/log'>DM Log</a>
            </div>
            <div class="col-4 choice-tile">
                <a href='/dm/log'>DM Log</a>
            </div>
    </div>
</div>
    



<%include ../partials/footer%>