<%include partials/header%>

<div class="jumbotron text-center">
        <h1 class = 'display-4'>This will be the DnD-Base Landing Page</h1>
        <p class="lead">An App to organize my DnD game</p>
</div>


<div class="todo-list">
    <h5>To-Do list</h5>
    <ul>
        <li>Player Character Pages</li>
        <li>Town/City Location Pages</li>
        <li>Major players in the world</li>
        <li>item database</li>
        <li>item cards</li>
        <li>logins for my players?</li>
    </ul>
</div>





<%include partials/footer%>