<%include partials/header%>

<div class="container section-buttons">
    <ul>
        <li><a href="/pcs/index">PC's Index</a></li>
        <li><a href="/pcs/new">PC's Create</a></li>
        <li><a href="/pcs/edit">PC's Edit</a></li>
    </ul>
    
</div>

<%include partials/footer%>