<%include ../partials/header%>

<h1>Items Home Page</h1>

<a href="/items/new"><button class = 'btn btn-large btn-outline-success'>Create Item</button></a>

<div class="container items-list">

</div>

<%include ../partials/footer%>